@using ProductService.Models
@model IEnumerable<CouponDto>
<link rel="stylesheet" href="~/css/site.css" />

<div class="card shadow border-0 mt-4" style="border-radius: 20px; padding: 10px;">
    <div class="row align-items-center">
        <div class="col text-center text-md-start" style="padding-left: 15px; padding-top: 5px;">
            <h1 style="color:black; margin-left: 10px; margin-top: 5px;">Coupons</h1>
        </div>
       
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a href="/Coupon/CouponCreate" class="btn btn-outline-primary me-2">
                    <i class="bi bi-plus-square"></i> Create New Coupon
                </a>
                <a href="/Coupon/CouponUpdate" class="btn btn-outline-primary me-2">
                    <i class="bi bi-pencil-square"></i> Edit a Coupon
                </a>
                <a href="/Coupon/CouponDelete" class="btn btn-outline-primary">
                    <i class="bi bi-trash"></i> Delete a Coupon
                </a>
            </div>
            @if (TempData["couponerror"] != null)
            {
                <div id="notification" class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["couponerror"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card mb-4 box-shadow" style="border-radius: 20px; border-color: #7F00FF">
                        <div class="col text-center text-md-end" style="padding-right: 15px; padding-top: 5px;">
                            <h1 style="color:black; margin-left: 10px; margin-top: 5px;"> "@item.CouponCode"</h1>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" style="padding-top: 45px;">@(item.DiscountAmount.ToString("c"))</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Discount: @(item.DiscountAmount.ToString("c"))</li>
                                <li>(Applied to the carts with the minimum total amount of @(item.MinAmount.ToString("c")))</li>
                            </ul>
                            <form action="/Coupon/ApplyCouponToCart" method="post">
                                <input type="hidden" name="couponCode" value="@item.CouponCode" />
                                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Add Coupon</button>
                            </form>
                            
                        </div>

                    </div>
                </div>
            }
            @if (TempData["couponerror"] != null)
            {
                <div id="notification" class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["couponerror"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
    </div>

</div>